In [7]:
import pandas as pd
import re

In [3]:
df = pd.read_csv("train_labels_.csv")

In [4]:
df.head()

         filename  width  height    class  xmin  ymin  xmax  ymax
0  raccoon-17.jpg    259     194  raccoon    95    60   167   118
1  raccoon-11.jpg    660     432  raccoon     3     1   461   431
2  raccoon-63.jpg    600     400  raccoon    74   107   280   290
3  raccoon-63.jpg    600     400  raccoon   227    93   403   298
4  raccoon-60.jpg    273     185  raccoon    58    33   197   127

In [5]:
df.drop(['width','height'], axis=1, inplace=True)
df['class'] = df['class'].map({'raccoon':1})
ndf = df.drop('class', axis=1)
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  173 non-null    object
 1   xmin      173 non-null    int64
 2   ymin      173 non-null    int64
 3   xmax      173 non-null    int64
 4   ymax      173 non-null    int64
dtypes: int64(4), object(1)
memory usage: 6.9+ KB

In [8]:
ndf['image_index'] = ndf['filename'].map(lambda x: re.findall('[0-9]+',x))
ndf.head()

         filename  xmin  ymin  xmax  ymax image_index
0  raccoon-17.jpg    95    60   167   118        [17]
1  raccoon-11.jpg     3     1   461   431        [11]
2  raccoon-63.jpg    74   107   280   290        [63]
3  raccoon-63.jpg   227    93   403   298        [63]
4  raccoon-60.jpg    58    33   197   127        [60]

In [9]:
ndf['image_index'] = ndf['image_index'].map(lambda x: x[0])
ndf.head()

         filename  xmin  ymin  xmax  ymax image_index
0  raccoon-17.jpg    95    60   167   118          17
1  raccoon-11.jpg     3     1   461   431          11
2  raccoon-63.jpg    74   107   280   290          63
3  raccoon-63.jpg   227    93   403   298          63
4  raccoon-60.jpg    58    33   197   127          60

In [24]:
ndf['image_index'].nunique()

160

In [11]:
xyz = ndf['image_index'].nunique()
ndf1 = ndf.drop('filename', axis=1)
ndf1.head()

   xmin  ymin  xmax  ymax image_index
0    95    60   167   118          17
1     3     1   461   431          11
2    74   107   280   290          63
3   227    93   403   298          63
4    58    33   197   127          60

In [12]:
first_column = ndf1.pop('image_index')
ndf1.insert(0,'image_index',first_column)
ndf1.head()

  image_index  xmin  ymin  xmax  ymax
0          17    95    60   167   118
1          11     3     1   461   431
2          63    74   107   280   290
3          63   227    93   403   298
4          60    58    33   197   127

In [13]:
ndf1.set_index('image_index')

             xmin  ymin  xmax  ymax
image_index
17             95    60   167   118
11              3     1   461   431
63             74   107   280   290
63            227    93   403   298
60             58    33   197   127
...           ...   ...   ...   ...
137            71     8   304   233
171           108    21   180   115
190            78    54   153   135
22            252    76   466   335
152            41    60   223   155

[173 rows x 4 columns]

In [14]:
# coverting df into rows
rows = []

for row in ndf1.iterrows():
    rows.append(row)

In [15]:
labels_list = []

for i in rows:
    labels = list(i[1].values)
    labels_list.append(labels)
    
labels_list[:5]

[['17', 95, 60, 167, 118],
 ['11', 3, 1, 461, 431],
 ['63', 74, 107, 280, 290],
 ['63', 227, 93, 403, 298],
 ['60', 58, 33, 197, 127]]

In [16]:
%mkdir image_labels

In [17]:
%cd image_labels

f:\Computer vision - Object detection\image_labels

In [18]:
for l in labels_list:
    l.insert(1,1)

In [19]:
for label in labels_list:
    file = open(f'00{label[0]}.txt', 'w')
    file.writelines([str(i) for i in label[1:]])
    file.close()

In [20]:
labels_list[0]

['17', 1, 95, 60, 167, 118]